.inline-block {
    display: inline-block;
    vertical-align: auto;
}

.logo {
    width: 45%; 
    padding: 0%;
    padding-left: 10%;
    text-align: center;
}

.navigation {
    width: 100%;
    /* width: 118%; */
    height: 20%;
    
}

body {
    background-color: #0D1526;
    margin: 0;
}

nav {
    /* width: 100%; */
    /* padding: 1%; */
    background-color: #333B50;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 2.5%;
}

p {
    color: white;
    margin-bottom: 30px;
    margin-top: 0px;
}


ul {
    display: flex;
    justify-content: center;
    padding:0%;
    /* width: 50%; */
    /* margin-left: auto; */
}


li { 
    color: white;
    padding: 5px
}



.heroimg {
    /* height: 600px; */
    background-image: url("images/WorkstationTools.png");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #0D1526;
    padding: 25px;
    padding-bottom: 40px;
}

.content {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.image {
background-image: url("images/WallyandIbrighter.jpg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 600px;
height: 400px; 
padding-bottom: 5px;
}

footer {
    background-color: #2b3346;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0%;
}

h1 {
    padding-top: 4%;
    padding-bottom: 1%;
}

.flexContainer {
    display: flex;
    width: 70%;
    gap: 20px;
    padding: 5%;
    padding-top: 4%;
    padding-right: 15%;
    justify-content: center;
    padding-left: 15%;
    padding-bottom: 2%;
    background-color: #0D1526;
    background-size: cover;
}


.whitetext {
    color: white;
}

h3 { 
    color: white;
}

h1 { 
    color: white;
}

h2 { 
    color: white;
}

h4 { 
    color: white;
}

.mySkills {
    text-align: center;
}

.workGrid {
    width: 55%;
    display: grid;
    gap: 5%;
    row-gap: 10%;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
    padding: 1%;
    padding-left: 27%;
    padding-bottom: 5%;
}

.myWork {
    text-align: center;
    justify-content: center;
    padding: 5%;
    color: white;
    height: 1%;
}

#myWork2 {
    text-align: center;
    justify-content: center;
    padding: 2%;
    color: white;
    height: 1%;
    text-decoration: underline;
    text-decoration-color: limegreen;
    cursor: pointer;
}

button {
   border-color: limegreen;
   color: white;
   background-color:#333B50;
   cursor: pointer;
   padding: 1.5%;
}

.workIt {
    background-image: url("images/WireframesBackground.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #0D1526;
    padding-bottom: 1%;
}


@media screen and (max-width: 700px) {
    .flexContainer {
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 20px;
        padding: 5%;
        padding-top: 4%;
        padding-right: 15%;
        justify-content: center;
        padding-left: 15%;
        padding-bottom: 2%;
        background-color: #0D1526;
        background-size: cover;
    }
    .workGrid {
        width: 85%;
        display:inline-block;
        justify-items: center;
        gap: 5%;
        row-gap: 10%;
        align-items: center;
        align-content: center;
        padding-left: 5%;
        margin: auto;
    }

    .workIt {
        background-image: url("images/WireframesBackground.png");
        background-position:40%;
        background-repeat:repeat-x;
        background-size:cover;
        background-color: #0D1526;
        padding-bottom: 1%;
    }
    
    .myWork {
        text-align: center;
        padding: 0%;
        padding-top: 15%;
        color: white;
        height: 1%;
        
}
.heroimg {
    /* height: 600px; */
    background-image: url("images/WorkstationTools.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:455%;
    background-color: #0D1526;
    padding: 25px;
    padding-bottom: 40px;
}

.content {
    width: 283px;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
}

.image {
background-image: url("images/WallyandIbrighter.jpg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 200px;
height: 200px; 
padding: 0%;
padding-left: 10%;
margin: auto;
}

nav {
    /* width: 100%; */
    /* padding: 1%; */
    background-color: #333B50;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-right: 10%;
}

ul {
    display: flex;
    justify-content: center;
    padding:0%;
    gap: 25px;
}

.logo {
    width: 1%; 
    padding: 0%;
    padding-top: 4.5%;
    padding-left: 10%;
    text-align: center;

}}